<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFileName" value="C:\PowerPatternLog.csv"/> <!--comment="This is the file which is read and written for log"-->
		<add key="TimerInterval" value="30000"/> <!--comment="Fetch values at every 30 sec interval" -->
	</appSettings>
</configuration>
